{% extends "layout.html" %}

{% block title %}
    Login | SharkBuy
{% endblock %}

{% block main %}

<p id="youraccount">Your account</p>
<p id="loginsubtitle">Have you bought from us before or are you already registered?</p>

<div class="form-container">
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
<div class="textbefore"><p>You don't have an account? <a href="{{ url_for('register') }}">Sign in</a></p></div>

{% endblock %}